/* 
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  additionally, much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, figure, footer, header, 
hgroup, nav, section { display:block; }

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted #000; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px dotted #BEDCF5; margin:1em 0; padding:0; }
#rcol hr {
	margin-left: 20px;
}
input, select { vertical-align:middle; }
/* END RESET CSS */


/*
fonts.css from the YUI Library: developer.yahoo.com/yui/
          Please refer to developer.yahoo.com/yui/fonts/ for font sizing percentages

There are three custom edits:
 * remove arial, helvetica from explicit font stack
 * make the line-height relative and unit-less
 * remove the pre, code styles
*/
body { font:13px Arial, sans-serif; *font-size:small; *font:x-small; line-height:1.6; }

table { font-size:inherit; font:100%; }

select, input, textarea { font:99% sans-serif; }


/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 


/* 
 * minimal base styles 
 */


/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
body, select, input, textarea { color:#303030; }

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
 
/* www.aestheticallyloyal.com/public/optimize-legibility/ */ 
h1,h2,h3,h4,h5,h6 { font-weight: normal; text-rendering: optimizeLegibility; }

/* maxvoltar.com/archive/-webkit-font-smoothing */
html { -webkit-font-smoothing: antialiased; }

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

a, a:active, { color:#007ebe; }
a:hover { color:#007ebe; }


ul { margin-left:0px; list-style-position: outside;}
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { font-size:small; vertical-align:top; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #007ebe; color:#fff; text-shadow: none; }
::selection { background:#007ebe; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #007ebe; } 


/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent `FIX << */
.clearfix:after { 
	content: ""; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	font-size: 0;
}
.clearfix { 
	display: inline-block; 
}
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }





 /* Primary Styles
    Author: Owen Masback
 */

body {
	background: #1A1A1A;
}
header {
	background: #1a1a1a;
    letter-spacing: 0.05em;
	position: relative;
	z-index: 2;
	font-size: 12px;
}
.ie6 header, .ie7 header, .ie8 header, .ie9 header {
    letter-spacing: 0.04em;
}
.innercol {
	background-color: #1a1a1a;
	width: 960px;
	margin: 0 auto;
}
/*Top navigation bar***********************************/
#tophead {
	float: left;
}
#logo {
	padding: 11px 12px 2px;
	float: left;
}
#topnav ul {
	float: left;
	border-left: 1px solid #1E465E;
	margin-left: 0px;
}
#topnav ul ul {
	float: left;
	border-left: 1px solid #133031;
	margin-left: 0;
}
.topnavL1 {
	float: left;
	position:relative;
}
.topnavL1 a {
/*	font-size: 123%; */
	color: #fff;
	display: block;
	padding: 9px 11px;
	border-right: 1px solid #1e465e;
	text-decoration:none;
	opacity: 0.9999;
/*	-webkit-transition: background 0.15s linear;
	-moz-transition: background 0.15s linear;
	-o-transition: background 0.15s linear;
	transition: background 0.15s linear;*/
}
.topnavL1 a:hover {
	background-color: #2b2b2b;
	
}
.navhomelink {
	width: 151px;
}
.navhomelink a {
	background: url("../images/logo.png") no-repeat scroll 9px 9px transparent;
}
#contactsales {
	float: right;
	color: #46B4E0;
	font-size: 93%;
	opacity: .999;
	padding: 13px 0 0 10px;
}
#contactsales span {
	display: inline-block;
	padding: 0 0 0 28px;
}
#contactsales span.email {
/*	background: url('../images/icon_email.gif') 0 3px no-repeat;*/
	padding-left: 0px;
}
.phone {
	background: url("../images/icon_phone.gif") no-repeat scroll 4px 2px transparent;
}
#contactsales a {
	color: #46B4E0;
	text-decoration: none;
	
}
#contactsales a:hover {
	color: #46B4E0;
	text-decoration: underline;
}
/*Superfish Dropdown***********************/

/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			15em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			3.5em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			15em; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
/*.sf-menu {
	float:			left;
	margin-bottom:	1em;
} */
.sf-menu a {
/*	border-left:	1px solid #fff;
	border-top:		1px solid #CFDEFF;*/
	padding: 		1.3em 1em;
	text-decoration:none;
}
.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
/*	color:			#13a;*/
}
.sf-menu li {
/*   background:		#BDD2FF;*/
}
.sf-menu li li {
	background:		#000;
	border-top: 1px solid #2b2b2b;
}
.sf-menu li li li {
	background:		#000;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	background-color:		#2b2b2b;
	outline:		0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top: 1.3em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

/*Blue Backgrounds****************************************************/
.bluebg {
	background-color: #00ADF1;
	word-spacing: .1em;
}
#main .bluebg .readmore_white {
	-moz-box-shadow: 0 2px 0px #004DAA;
	-webkit-box-shadow: 0 2px 0px #004DAA;
	box-shadow: 0 2px 0px #004DAA;
	background-color:#007ebe;
	width: 25%;
	margin: 0;
}
#main .bluebg .readmore_white:hover {
	background-color: #004DAA;
}
#main .bluebg .readmore_white:active {
	position: relative;
	top: 1px;
	-moz-box-shadow: 0 0px 0px #9CE3FF;
	-webkit-box-shadow: 0 1px 2px #9CE3FF;
	box-shadow: 0 1px 2px #9CE3FF;
}
#homepagewrapper #main .bluebg .readmore_white {
	margin: 0 auto;
}
.bluebg h3 {
/*	   text-shadow: 0 2px 0px #2A7ECC;*/
}
.bluebg p {
/*	text-shadow: 0 1px 1px #2A7ECC;*/
}
.blueheader {
	margin: 20px 0;
}
h3.bluebg {
	color: #FFFFFF;
	font-size: 153%;
	padding: 6px 10px;
	font-weight: bold;
/*	text-shadow: 0 2px 0 #2A7ECC;*/
}
#main .blueheader p {
	margin: 1.3em 100px 0em 0;
}
/*main*********************************************************************/

#main {
	background: #fff;
}
#main .innercol {
	padding: 30px 0 40px;
	background: #fff url('../images/border-rcol.gif') repeat-y 760px 0;
}
#main .onecol {
	background-image: none;
}
#main a {
	color: #007ebe;
	text-decoration: none;
}

p {
	line-height: 1.6;
}
#lcol p {
	margin: 1em 0 1.5em;
}

.lcolbullets {
	margin-top: -1em;
}
.lcolbullets li {
	margin: .5em 1em;
	list-style-position: outside;
}
.bulletless {
	list-style-type: none;
}
.bulletless li {
	padding-left: 0;
}
/*lcol***********************************************************/
#lcol {
	float: right;
	width: 750px;
}
#main h1 {
	font-size: 260%;
	font-weight: normal;
	color: #007ebe	;
	margin: 0 30px 35px 0;
	line-height: 40px;
}
#main h2 {
	font-size: 167%;
	font-weight: normal;
	color: #007ebe	;
	margin: 30px 30px 10px 0;
}
#main h3.subh1 {
	margin: -20px 0 2em 0;
	font-size:138%;
}
#main .bodycopy h3.subh2 {
	color: #303030;
	font-size: 123%;
	font-weight: bold;
	margin-bottom: -.5em;
	margin-top: -0.5em;
}
#main .manuals h2 {
    border-bottom: 1px solid #BEDCF5;
    color: #303030;
    font-size: 153%;
    font-weight: normal;
    margin: 47px 0px 10px 0;
}
.firstp {
	font-size: 108%;
	line-height: 1.6;
	margin: 1.2em 0;
	color: #303030;
}
#lcol .bodycopy {
	padding-right: 100px;
}
#lcol .bodycopy ul {
	margin: -10px 0 30px 10px;
}
#lcol .bodycopy h3 {
	margin-bottom: -1em;
	font-size:138%;
	color: #007ebe;
}
.lcolhr {
	border-top: 1px solid #BEDCF5;
}
/*rcol****************************************************************/
#rcol {
	width: 200px;
	float: right;
	padding-bottom: 0px;
}
#rcol h2 {
	font-size: 138.5%;
	color: #FF2A00;
	font-weight: normal;
	margin: 0 10px 20px 22px;
	padding-bottom: 12px;
	text-transform: uppercase;
	border-bottom: 1px solid #BEDCF5;
}
.rnav_container h3 {
	font-weight: bold;
    margin: 0 10px 5px 22px;
    padding-bottom: 12px;
}
#rcol h2 a {
	color: #FF2A00;
}
.rnav {
	list-style-type: none;
	margin-bottom: 40px;
}
.rnav li {
	margin: 0px 10px 16px 22px;
}
#main .rnav li a {
	color: #45A6CC;
	text-decoration: none;
}
#main .rnav li a:hover {
	color: #007ebe;
	text-decoration: underline;
}
.rnav li.current {
	margin-left:0;
	padding-left:22px;
	background: url('../images/rnav_current.gif') 0 5px no-repeat;
}
#main .rnav li.current a {
	color: #007ebe;
}
#contactbox {
	padding: 2px 0 3px 20px;
	margin: 0 0 40px;
	background-color: #007ebe;
	font-size: 93%;
}
.bottomborder {
	border-bottom: 1px solid #BEDCF5;
}
#contactbox h3, #contactbox a, #contactbox p {
	color: #fff;
	font-weight: normal;
}
#contactbox div {
	padding: 12px 0;
}

/*One Column Layout*************************************************/
#mcol {
	padding: 0px 30px;
}

/*Ecosystem Page********************************************************/
#products {
	margin: 10px 0 0;
}
.product {
	width: 187px;
	float: left;
}
.product h3 {
	font-size: 123%;
	margin: 14px 0 2px;
}
#main .product h3 a {
	color: #303030;
}
#main .product h3 a:hover {
	color: #007ebe;
	text-decoration:none;
}
#lcol .product p {
	padding-right: 30px;
	margin: 1em 0;
}
#main .product a:hover {
	text-decoration:underline;
}
#main .product img:hover {
	opacity: .7;
}
#grid-diagram {
	display: block;
	margin-bottom: 20px;
}
#ecosystem .bluebg {
	padding: 20px;
}
.blueproduct {
	width: 355px;
	float: left;
}
.blueproduct h3 {
	color: #fff;
	font-size:153%;
	font-size: 200%;
    font-weight: bold;
}
#lcol .blueproduct p {
	color: #fff;
	margin: .3em 15px 1.3em 0;
	font-size:123%;
}
#lcol .blueproduct a {
	color: #fff;
}

/*Video Page*****************************************************************/

#videoplayer {
	width: 352px;
	height: 198px;
	/*border: 1px solid #BEDCF5;*/
}
#videowrapper {
	width: 352px;
	height: 198px;
	border: 1px solid #BEDCF5;
	float: right;
}
#videotop {
	padding: 0 20px 20px 0;
}
#videotop .firstp {
	margin-right: 390px;
}
.videopage h1 {
	width: 340px;
	float: left;
}
#videotop .bodycopy {
	width: 350px;
	float: left;
	margin: -1.5em 15px -1.5em 0	;
}

/*Solutions******************************************************************/
#main .readmore_white {
    background: #FF2A00 url("../images/arrow_readmore_white.png") no-repeat scroll 90% 50%;
	padding: 6px 34px 6px 10px;
	color: #fff;
	margin: 15px 0;
	diplay: block;
	float: left;
	display:  blocl;
}
#main .readmore_white:hover {
	background-color:#29b8f1;
}
#solutions .readmore_white {
	float: right;
}
/*Homepage******************************************************************/
#main .innercol.homepage {
	background: url("../images/home-bg.png") repeat-x scroll 0 0 transparent;
	width: 100%;
	padding: 11px 0 0 0;
}
#hometop {
	height: 427px;
	width: 960px;
	margin: 0 auto;
	position: relative;
	background: url('../images/hometop-bg.png') repeat-x;
}
#HSscrollnav {
	position: absolute;
	top: 398px;
	left: 19px;
}
.readmore {
	background: url('../images/arrow_readmore.png') no-repeat right 75%;
	padding-right: 24px;
}
.readmore:hover {
	text-decoration:underline;
}
#homebottom {
	width:960px;
	margin: 0 auto;
}
.bottombox {
	float: left;
	width: 50%;
}
.bottombox img {

}
#main .bottombox h2 {
	padding: 0 20px 4px 0;
	color:#FF2A00;
	font-size:167%;
	font-weight: normal;
	border-bottom: 1px solid #BEDCF5;
	margin: 10px 0 12px;
}
.bottombox h3 {
	margin: 0 0 8px 100px;
	font-size: 116%;
	font-weight: normal;
	color: #007ebe;
	line-height:1;
}
#main .bottombox h2 a {
	color: #ff2a00;
}
.bottombox p {
	color:#303030;
	width: 330px;
}
#casestudies {
	margin: 0 30px 0 10px;
	width: 440px;
}
.csbottombox p {
	margin: 0 0 0 100px;
}
.csimg {
	display:block;
	float: left;
	border: 1px solid #bedcf5;
	text-align:center;
	width: 84px;
}
.csimg img {
	margin: 0 auto;
	display: block;
	padding: 16px 0 16px;
}
.exbottombox p {
	width: 280px;
	margin: 0 120px 0 0;
}
.exbottombox {
	width: 480px;
}
.exbottombox img {
	display: block;
	float: right;
}
.bottombox a.readmore {
	display:block;
	float:left;
	margin: 0px 0 0 14px;
}
.demoapp {
	float: left;
	width: 240px;
	margin: 10px 40px 0 0;
}
.demoapp p {
	clear: both;
}
#main .blueheader .demoapp p {
    margin: 1.3em 20px 0 0;
}
.whitebutton { 
	display: block;
	float: left;
	clear: right;
	margin-right: 1px; 
	margin-top: 14px;
	margin-left: -5px;
	padding-left: 17px;
	text-decoration: none;
	color: #007ebe;
	cursor: pointer;
	background: url('../images/buttonsprites3.png') 0 -52px no-repeat;
	height: 52px;
	outline: none;
	font-size: 18px;
}
.whitebutton.greenbutton {
	background-position: 0 -468px;
}
.whitebutton:hover {
	background: url('../images/buttonsprites3.png') 0 -156px no-repeat;
}
.whitebutton.greenbutton:hover {
	background-position: 0 -572px;
}
.demoapp .whitebutton {
	float: none;
}
.whitebutton span {
	display:block;
	height:100%;
	line-height:46px;
	padding-right: 50px;
	background: url('../images/buttonsprites3.png') right 0px no-repeat;
}
.whitebutton.greenbutton span {
	color: #fff;
	background-position: right -416px;
}
.whitebutton span:hover {
	color: #1395d7;
	background: url('../images/buttonsprites3.png') right -104px no-repeat;
}
.whitebutton.greenbutton span:hover {
	color: #fff;
	background-position: right -520px;
}
.rss-box a {
	font-size:116%;
	margin-bottom: 8px;
	line-height: 1;
	position: relative;
	top: -1px;
}
.rss-box ul {
	list-style-type: none;
}
/*Documentation*******************************************/
.doclink {
	padding-left: 20px;
	background: url('../images/icon_download.gif') 0 3px no-repeat;
	height: 3em;
}
.doclink a {
	font-size: 123.1%;
	font-weight: bold;
	display: block;
}
.doclink span {
	font-size: 93%;
	color: #45A6CC;
}
#main .doclink a:hover {
	text-decoration: underline;
}
/*Company*******************************************/
#lcol ul.mgmtlist {
	margin: 0px;
}
#lcol ul.mgmtlist li {
	margin: 0 0 3em 0;
}
#lcol ul.mgmtlist img {
	width: 76px;
	height: 76px;
	float: left;
	padding: .4em 10px 0 0;
	clear: left;
}
#lcol .mgmtlist h3 {
	font-size: 116%;
	font-weight:bold;
	color: #303030;
	margin: 0px;
}
#lcol .mgmtlist li.clearfix p {
	margin: 0 0 0 86px;
}
.googlemap {
	float: left;
	padding-right: 20px;
}
.googlemap iframe {
	border: 1px solid #BEDCF5;	
}
.googlemap small a {
	color: #007ebe;
}
/*Advantage***************************************************/
table.bodytable {
	width: 750px;
	border-bottom: 1px solid #BEDCF5;
	border-top	: 1px solid #BEDCF5;
}
.bodytable td, .bodytable th {
    padding: 0 10px;
	text-align: left;
	border-left: 1px solid #BEDCF5;
	width: 187px;
}

.bodytable .lastcol {
	padding-right: 20px;
	border-left: 1px solid #BEDCF5;
}
.bodytable td {
	border-top: 1px solid #BEDCF5;
	width:  166px;
}
#lcol .bodytable p {
	margin: .7em 0;
}
.bodytable .tdshade {
	background: #f6fafc;
}
.bodytable .firstcol {
	font-weight:bold;
	width: 100px;
}
.tdcorner-green {
	background: url('../images/tdcorner-green.gif') no-repeat;
}
.tdcorner-red {
	background: url('../images/tdcorner-red.gif') no-repeat;
}
/*Partners*****************************************************/
.partnerslinks{
	float: right;
	padding: 2px 25px 0 0;
}
.partnerslinks a {
	background: url("../images/arrow_toplink.png") no-repeat scroll 0 50% transparent;
	display: block;
	float: left;
	font-size: 123%;
	margin: 0 0 0 30px;
	padding: 0 0 0 17px;
}
#main .partnerslinks a:hover {
	text-decoration:underline;
}
.partnerdiv {
	border-top: 1px solid #BEDCF5;
}
.partnerdiv img {
	display: block;
	margin: 20px 0;
}
h4 {
	font-size: 123%;
	font-weight: bold;
}
h4 a {
	font-weight:normal;
}
.package {
	width: 727px;
	margin: 1em 0;
/*	border-bottom: 1px dotted #CCCCCC; */
}
.package p {
	font-size:13px;
	margin: 1.2em 0;
	line-height:1.5;
}
.channels {
	list-style-type: none;
	list-style-position: inside;
	border-top: 1px solid #BEDCF5;
	border-left: 1px solid #BEDCF5;
	margin-left: 0;
	float: left;
}
.channels li { 
	background-color: #fff; 
	padding: 20px 10px; 
	float: left; 
	text-align: center; 
	width: 100px; 
	border-right: 1px solid #BEDCF5;
	border-bottom: 1px solid #BEDCF5;
}
.channels li.invisible { background-color: #F5F5ED; }
.channels li img { 1px solid; height: 50px }
.channels li div { height: 2.6em; padding-top: 10px; line-height: 1.1em; }
.channels li div a { }

.package .whitebutton {
	margin: 20px 0 20px -2px;
	display: none;
}


.casestudies #productscroll {
	margin-top: 97px;
}
.casestudies #productscroll .scrollable {
	height: 111em;
}
.casestudies .iconscrollnav { 
	float: left;
	text-align: left;
	width: 430px;
	height: 60px;
}
.casestudies .iconscrollnav img {
    cursor: pointer;
    padding-left: 0;
}
.casestudies #productscroll .items .scrollitem {
	text-align:left;
}
.casestudies #productscroll .scrollitem h2 {
	margin: -10px 0 0;
}	
.casestudies #productscroll table {
	width: 750px;
	margin: 0 -25px;
}
.casestudies #productscroll table td, .casestudies #productscroll table th {
	padding: 10px 10px 15px 25px;
	border-top: 1px solid #BEDCF5;
	border-left: 1px solid #BEDCF5;
}
.casestudies #productscroll table .bottomrow td {
	height: 400px;
}
.casestudies #productscroll .items table .firstcol {
	border-left: none;
}
.casestudies #productscroll .items table .firstcol p {
	width: 150px;
	margin: 0;
}
#csscrolltopnav {
	position: relative;
}
#csscrolltopnav #prodscrollnav {
	position: absolute;
	bottom: 0;
	right: 0;
}
/*Experience RayV*********************************************/
#expchannels {
	margin-bottom: 20px;
}
#expchannels div {
	display:block;
	float: left;
	width: 150px;
	margin-right: 20px;
	color: #303030;
}
#expchannels a:hover p {
	text-decoration:underline;
}
#expchannels div p {
	margin: .5em 0;
}
#expchannels div p.channelname {
	color: #007ebe;
	font-size:123%;
}
#expchannels .bitrate {
	font-style:italic;
	color: #999;
}
/*Marketplace Forms********************************************/
#main .innercol.marketplace {
	background-image: none;
}
#marketplacetop.scrollable {
	width: 948px;
	height: 416px;
	margin: 0 auto;
	background: url('../images/homeslide-bg.png') repeat-x 0 0;
}
#marketplacetop .items div {
	width: 948px;
	height: 416px;
}
#marketplacetop h1 {
	padding: 20px 0 0 30px;
	font-family: arial, sans-serif;
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 1px 6px #002B7C;
	font-size:40px;
	margin-bottom: 0;
}
#marketplacetop p {
	width: 440px;
	padding-left: 30px;
	margin: 1em 0;
	color: #b9e9ff;
}
#marketplacetop .whitebutton {
	margin-left: 25px;
}
#marketplacetop .whitebutton  span {
	width: 190px;
}
#homebottom {
	padding-left: 0px;
	padding-bottom: 20px;
}
#mpcontainer {
	background-color: #fff;
}
#main .mpheader {
	background: url('../images/marketplace-header.png') no-repeat;
	margin: 20px 15px;
	height: 41px;
}
#main .mph1 {
	font-size:20px;
	margin-left: 15px;
	margin-bottom: 0;
}
.mpbluebox {
	background: url('../images/marketplace-graphic.png') #007ebe right -42px no-repeat;
	border-radius: 20px;
	padding: 26px 36px;
}
.mpbluebox .firstp {
	color: #80E8FB;
	font-size: 18px;
	width: 480px;
	margin: 0 0 18px;
}
.mpbluebox ul {
	font-size:18px;
	line-height:30px;
	list-style-position: inside;
	color: #d4f0f8;
}
.mpprice {
	background: url('../images/marketplace-price.png') no-repeat;
	height: 61px;
	margin-top: 30px;
	margin-left: -5px;
}
.mpgettingstarted {
	font-size:28px;
	margin: 30px 0 10px 15px;
}
.mptabs {
	margin-top: 30px;
}
.mptabs ul.tabs li a {
	font-size:123%;
	padding: 5px 118px 5px 15px;
}
.mptabs ul.tabs {
	height: 42px;
}
.mptabs ul.tabs li {
	height: 41px;
}
.mptabs .tab_container {
	border-right: 1px solid #bedcf5;
}
.mptableft {
/*	float: left;
	width: 600px;*/
}
.mptabright {
	float: right;
}
.mpdist {
	border-top: 1px solid #bedcf5;
	padding: 15px 0;
}
.mpdistlogo {
	background: no-repeat right 40%;
	float: left;
	width: 200px;
	height: 108px;
	margin-right: 20px;
}
.mpdist p {
	float: left;
	width: 410px;
	text-align:justify;
	margin: 0 !important;
}
.mptabs .tab_content {
	position: relative;
}
.mpdeviceicons {
	float: left;
	margin: 0 15px;
}
.mpdeviceicons img {
	display: block;
	float: left;
	margin-right: 15px;
}
.tab_content .greenbutton {
	width: 280px;
	float: right;
	margin-right: -9px;
}
.mptabright .readmore {
	display: block;
	margin: 1em 0;
	font-size:15px;
	background-position: right 50%;
	float: right;
}
.mptabs .tab_content h3 {
	border: none;
	color: #007ebe;
	padding: 0;
	margin-bottom: -10px;
}
.simple_overlay {
	
	/* must be initially hidden */
	display:none;

	left: 50%;

	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#fff;
	
	width:670px;	
	min-height:200px;
	padding: 15px;
	
	/* CSS3 styling for latest browsers */
	-moz-box-shadow:0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;	
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background: url(../images/close.png) no-repeat;
	position:absolute;
	right:-12px;
	top:-12px;
	cursor:pointer;
	height:25px;
	width:25px;
}
.channelscrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 600px;
	height:52px;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.channelscrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.channelscrollable .items div {
	float:left;
}
.channelscrollable img {
	display: block;
	float: left;
	border: 1px solid #bedcf5;
	margin: 0 5px;
}
.tickercontainer { /* the outer div with the black border */
border: 1px solid #000;
background: #fff; 
width: 738px; 
height: 52px; 
margin: 0; 
padding: 0;
overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 10px;
top: 8px;
width: 718px;
overflow: hidden;
}
ul#logoscroll { /* that's your list */
position: relative;
left: 750px;
list-style-type: none;
margin: 0;
padding: 0;

}
ul#logoscroll li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
background: #fff;
}
ul#logoscroll a {
white-space: nowrap;
padding: 0;
color: #ff0000;
font: bold 10px Verdana;
margin: 0 50px 0 0;
}

#makeMeScrollable, #makeMeScrollable2
{
	width:100%;
	height: 52px;
	position: relative;
	margin: 1em 0;
}

#makeMeScrollable div.scrollableArea img, #makeMeScrollable2 div.scrollableArea img
{
	position: relative;
	float: left;
	border: 1px solid #bedcf5;
	margin: 0 5px;
	padding: 0;
	width: 73px;
}

div.scrollWrapper {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
div.scrollableArea {
    height: 100%;
    position: relative;
    width: auto;
}   width: auto;

/*CloudTV*****************************************************/
#cloudtable td, #cloudtable th {
	text-align: center;
}
#cloudtable td.firstcol {
	text-align: left;
}
#cloudtable td {
	height: 2em;
}
#cloudtable td.tdmeat {
	font-size: 26px;
	line-height: 48px;
	color: #007ebe;
}
#lcol #cloudtable th h3 {
	margin: .3em 0 0;
}
#cloudtable  span.atrequest {
	font-size: 14px;
	line-height: 37px;
}
#lcol .cloudcopy {
	padding-right: 380px;
	padding: 1px 382px 1px 0;
}
/*Scrollable***************************************************
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {
	/* required settings */
	position:relative;
	overflow:hidden;
}
#homeslide.scrollable {
	width: 948px;
	height: 416px;
	margin: 0 auto;
	background: url('../images/homeslide-bg.png') repeat-x 0 0;
}
#homeslide .items div {
	width: 948px;
	height: 416px;
}
#homeslide h1 {
	padding: 60px 0 0 30px;
	color: #fff;
	text-shadow: 0px 1px 6px #002B7C;
	font-size:60px;
	font-weight: bold;
	margin-bottom:  13px;
	font-family: arial, sans-serif;
	font-weight: bold;
	line-height: 64px;
}
#homeslide p {
	width: 400px;
	padding-left: 30px;
	margin: 16px 0 20px;
	color: #dbf4ff;
	font-size:  20px;
}
#homeslide .whitebutton {
	margin-left: 25px;
	margin-top: 0;
}
#homeslide .whitebutton  span {
    padding-right: 150px;
}
#HSscrollnavinner .browse {
	display: none;
}
.HSnavi {
	float: left;
}
#main .HSnavi a {
	z-index: 1;
	display:block;
	float: left;
    position: relative;
	height:23px;
	border-style: solid;
	border-width: 26px 13px 0;
	border-color: #29b8f1 transparent transparent;
	margin: 0 -5px;
	color: #fff;
	font-size:11px;
	font-weight:bold;
	padding: 0 4px;
	height: 20px;
	outline: 0; 
}
#main .HSnavi a span {
	position: relative;
	top: -24px;
	outline: 0;
	font-size: 13px;
}
#main .HSnavi a.active {
	border-top-color: #008dd2 !important;
	z-index: 10; 
}
#main .HSnavi a:hover {
	border-top-color: #00a0ee;
}
#main .HSnavi a.hstab1 {
	z-index: 3;
}
#main .HSnavi a.hstab2 {
	z-index: 2;
}
#main .HSnavi a.hstab3 {
	z-index: 1;
}
#main .HSnavi a.hstab1.active {
	z-index: 10;
}
#main .HSnavi a.hstab2.active {
	z-index: 10;
}
#main .HSnavi a.hstab3.active {
	z-index: 10;
}



#casestudies .scrollable {
	width:430px;
	height:100px;
}

#csscrollnav {
	text-align:center;
	border-top: 1px solid #BEDCF5;
	padding-bottom: 30px;
}
#csscrollnav .browse {
	display: block;
	float: left;
}
.navi {
	float: left;
}
.navi a {
	display:block;
	float: left;
	width:14px;
	height:14px;
	background: #29b8f1;
	margin: 0 1px;
}
.navi a.active, .navi a:hover, #csscrollnav .browse:hover {
	background: #007ebe;
}
#csscrollnav .browse {
	display: block;
	cursor: pointer;
	color:#fff;
	font-size:18px;
	-moz-user-select: none;
	float: left;
	width:14px;
	height:14px;
	background: #29b8f1;
	margin: 0 1px;
	line-height: 11px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
   #csscrollnav .browse {
		top: -4px;
	}
}
#productscroll {
	margin: 20px 0;
}
#productscroll .scrollable {
	width: 749px;
	height: 550px;
	border: 1px solid #bedcf5;
	border-right: none;
}
#productscroll .items .scrollitem {
	padding: 20px 25px 1px;
	text-align:center;
}
#productscroll .items div p {
	width: 700px;
	text-align:left;
}
#prodscrollnav {
	text-align:center;
	height: 34px;
}
#prodscrollnavinner {
	margin: 0 auto;
}
#prodscrollnav .browse {
	display: block;
	float: right;
	width:34px;
	height:34px;
	background: #29b8f1;
	margin: 0 0 0 3px;
	font-weight:bold;
	cursor: pointer;
	color:#29b8f1;
	font-size:18px;
	-moz-user-select: none;
}
#prodscrollnav .browse:hover {
	background-color:#007ebe;
}
#prodscrollnav .left {
	background: #29b8f1 url('../images/arrow-left-white-large.png') 50% 50% no-repeat;
}
#prodscrollnav .right {
	background:#29b8f1 url('../images/arrow-right-white-large.png') 50% 50% no-repeat;
}
#prodscrollnav .navi {
	float: right;
}
#prodscrollnav .navi a {
	display:block;
	float: left;
	width:34px;
	height:34px;
	background: #29b8f1;
	margin: 0 0 0 3px;
}
#prodscrollnav .navi a:hover {
	background-color:#007ebe;
}
#prodscrollnav .navi a.active {
	background: #007ebe;
}
.iconscrollnav {
	float: right;
	width: 500px;
	text-align:right;
	margin-right: 20px;
}
.iconscrollnav img {
	cursor: pointer;
	padding-left: 5px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
   #csscrollnav .browse {
		top: -4px;
	}
}
/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.items div {
	float:left;
}
.items .scrollimg {
	float: none;
	height: 445px;
	line-height: 445px;
	margin: .5em 0 1.5em
}
.items .scrollimg img {
	vertical-align:middle;
}
/*footer********************************************************************/
#footershadow {
	background: transparent;
}
footer {
	background: #1a1a1a;
	margin-bottom: -16px;
}
footer .innercol {
}
footer table {
	margin-left: -6px;
	float: left;
}
footer td {
	border-right: 1px solid #003a4d;
	padding: 25px 0 30px;
}
footer a, footer p {
	text-decoration: none;
	letter-spacing: 0.05em;
}
.ie6 footer a, .ie7 footer a, .ie8 footer a, .ie9 footer a, {
	letter-spacing: 0.03em;
}
footer a:hover {
	text-decoration: underline;
}
footer h3 {
	padding: 0 15px 8px;
}
footer h3 a{
	color: #fff;
	font-size: 107%;
	font-weight: normal;
}
footer h3 a:hover {
	color: #fff;
}
footer li {
	list-style-type: none;
	padding: 0 15px 1px;
}
footer li a {
	color: #46B4E0;
	font-size: 89%;
}
footer li a:hover {
	color: #46B4E0;
}
.multicol {
	border-top: 1px solid #0a2122;
	padding-top: 11px;
	margin-top: 5px;
}
#rfooter {
	float: right;
	text-align: right;
	font-size: 85%;
	line-height: 1.5;
	padding: 25px 0px 0 0 ;
}
#rfooter img {
	padding-bottom: 6px;
}
#rfooter p, #rfooter a {
	color: #49575d;
	opacity: 1;
	font-weight: bold;
}
#rfooter a:hover {
	color: #49575d;
	text-decoration: underline;
}


/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none; }

  a, a:visited { color: #444 !important; text-decoration: underline; }

  a:after { content: " (" attr(href) ")"; } 

  abbr:after { content: " (" attr(title) ")"; }
  
  .ir a:after { content: ""; }  /* Don't show links for images */
  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  
  img { page-break-inside: avoid; }

  @page { margin: 0.5cm; }

  p, h2, h3 { orphans: 3; widows: 3; }

  h2, h3{ page-break-after: avoid; }
}



/*
 * Media queries for responsive design
 */

@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
}
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

.on {
	background: #f5f7fa;
	border-bottom: none;
	}
	
.over {
	background: #e4eaee url('../images/accordion_header.png') repeat-x 0 0;
	opacity: .7;
	}

/*tabs styles*/
.tabwrapper {
	padding-right: 1px;
	min-height: 250px;
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #BEDCF5;
	border-left: 1px solid #BEDCF5;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #BEDCF5;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #eaf3f8;
}
ul.tabs li a {
	text-decoration: none;
	color: #BEDCF5;
	display: block;
	font-size: 93%;
	padding: 0 10px 0 10px;
	/*border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
/*My code for color squares*/
#grid ul.tabs li a {
	padding: 0 10px 0 30px;
}
#grid ul.tabs li a span {
    height: 11px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 11px;
}
#tabtop1 a span {
	background-color:#F45126;
}
#tabtop2 a span {
	background-color:#29b8f1;
}
#tabtop3 a span {
	background-color:#DF0058;
}
#tabtop4 a span {
	background-color:#1DDF00;
}
#tabtop5 a span {
	background-color:#007ebe;
}
.tab_content h3 {
	font-size:116%;
	border-bottom: 1px solid #BEDCF5;
	padding-bottom: 10px;
}
.citieslist {
	width: 100px;
	float: left;
	border-right: 1px solid #BEDCF5;
}
.gridtabcontent {
	margin-left: 120px !important;
}
ul.tabs li a:hover {
	background: #f6fafc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}
.tab_container {
	border: 1px solid #BEDCF5;
	border-top: none;
	border-right: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
}
.tab_content p {
	margin: 1em 0;
}
.tab_content li {
	list-style-position: outside;
}
.tab_content ul {
	list-style-position: outside;
	margin: 1em;
}
ul.childlist {
	margin-top: -1.5em;
}
.tab_content table {
	margin: 0 -20px -20px;
	width: 750px;
}
.tab_content td, .tab_content th {
    padding: 15px;
	text-align: left;
}
.tab_content .firstcol {
	padding-left: 20px;
	border-right: 1px solid #BEDCF5;
}
.tab_content .lastcol {
	padding-right: 20px;
	border-left: 1px solid #BEDCF5;
}
.tab_content td {
	border-top: 1px solid #BEDCF5;
}