body {
	background-image: none !important;
	background-color: #fff;
}
header {
	background-image: none !important;
}
footer {
	background-image: none !important;
}
#main, #homepagewrapper, #footershadow {
	background-image: none !important;
}
#footershadow {
    height: 0px;
}
.videopage h1 {
    float: none;
}
#videowrapper {
	display: none;
}
#videotop .bodycopy {
    float: none;
    margin: -1.5em 15px -1.5em 0;
    width: 735px;
}